<ion-content>
  <ion-card>
    <img [src]="user?.picture?.large" class="blur"/>
    <img [src]="user?.picture?.medium" class="round"/>
    <ion-card-subtitle class="picture-title">{{user?.name?.first}} {{user?.name?.last}}</ion-card-subtitle>
    <ion-card-subtitle class="picture-subtitle">{{user?.login?.username}}</ion-card-subtitle>
    <!--ion-card-header>
      <ion-card-title>Name</ion-card-title>
      <ion-card-subtitle>{{user?.name?.first}} {{user?.name?.last}}</ion-card-subtitle>
      <ion-card-title>Position</ion-card-title>
      <ion-card-subtitle>?</ion-card-subtitle>
    </ion-card-header-->
    <ion-card-content>
      <!--ion-card-title>Short Bio</ion-card-title-->
      <!--ion-card-title>The description of the profession</ion-card-title-->
      <ion-card-title>Age</ion-card-title>
      <ion-card-subtitle>{{user?.dob?.age}}</ion-card-subtitle>
      <ion-card-title>Email Address</ion-card-title>
      <ion-card-subtitle>{{user?.email}}</ion-card-subtitle>
      <ion-card-title>Phone Number</ion-card-title>
      <ion-card-subtitle>{{user?.cell}}</ion-card-subtitle>
      <ion-card-title>City</ion-card-title>
      <ion-card-subtitle>{{user?.location?.city}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>

