.blur {
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

.round {
    border-radius: 100%;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 12%;
    left: 35%;
    border: white;
    border-width: 3px;
    border-style: solid;
}

.picture-title {
    width: 100%;
    position: absolute;
    top: 40%;
    color: white;
    text-align: center;

    font-size: 2.1em;
    font-weight: bold;
    color: #fff;
    text-shadow: #7a7a7a 2px 1px 0;
}

.picture-subtitle {
    width: 100%;
    position: absolute;
    top: 50%;
    color: white;
    text-align: center;

    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
    text-shadow: #7a7a7a 2px 1px 0;
}