
<ion-item>
  <ion-avatar slot="start">
    <img [src]="user?.picture?.thumbnail">
  </ion-avatar>
  <ion-label>{{user?.name?.title}} {{user?.name?.first}} {{user?.name?.last}}</ion-label>
</ion-item>
