<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col>
            <app-user-list [users]=users (selectRequest)="selectUser($event)"></app-user-list>
          </ion-col>
          <ion-col>
            <app-user-preview *ngIf="userSelected" [user]="userSelected"></app-user-preview>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>

